/* .logo_div {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
} */

/* .logo_div_Links {
  display: flex;
} */

.logo_div_Links a {
  /* color: white; */
  /* margin-left: 0.5em; */
  /* margin-right: 0.5em; */
  /* margin-top: 0.5em; */
}
/* Appbar from MUI */

/* .appbar_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.items {
  display: flex;
  flex-direction: column;
}
.items a {
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}
